body {
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 10px;
  position: absolute;
  color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(25, 97%, 53%);
}

#rating-app {
  display: flex;
  align-items: center;
  height: 90vh;
}

#card, #thanks-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  max-width: 340px;
  margin: auto;
  background-color: hsl(213, 19%, 18%);
  padding: 30px;
}

#thanks-card {
  display: none;
  animation: fadeInAnimation ease 1s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.submit-btn {
  background-color: hsl(25, 97%, 53%);
  padding: 10px 135px;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  border-width: 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
}

h2 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
}

#thanks-card p, h2 {
  text-align: center;
}

.number {
  background-color: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 0;
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 30px;
}

.number:focus {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.number:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

.number:nth-child(1) {
  margin-left: 0px;
}

.star {
  border: 2px hsl(216, 12%, 8%) solid;
  border-radius: 50%;
  background: hsl(216, 12%, 8%);
  padding: 10px;
}

.thank-you {
  display: block;
  margin: 0 auto;
}

.rating {
  color: hsl(25, 97%, 53%);
  border: hsl(216, 12%, 8%) solid;
  background: hsl(216, 12%, 8%);
  border-radius: 20px;
  margin: auto;
  width: 50%;
  margin-top: 20px;
  padding: 5px;
}

/* Mobile design*/

@media only screen and (max-width: 280px) {
  #card, #thanks-card {
    max-width: 200px;
    max-height: 300px;
  }

  .number {
    width: 29px;
    height: 29px;
    margin-left: 7px;
    margin-bottom: 20px;
  }

  .number:focus {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
  }

  .submit-btn {
    padding: 10px 70px;
  }

  .attribution {
    font-size: 8px;
  }
}

@media only screen and (min-width: 281px) and (max-width: 360px) {
  #card, #thanks-card {
    max-width: 280px;
  }

  .number {
    width: 36px;
    height: 36px;
    margin-left: 20px;
  }

  .number:focus {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
  }

  .submit-btn {
    padding: 10px 110px;
  }
}

@media only screen and (min-width: 361px) and (max-width: 490px) {
  #card, #thanks-card {
    max-width: 300px;
    max-height: 375px;
  }

  .number {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .number:focus {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
  }

  .submit-btn {
    padding: 10px 120px;
  }

  .rating {
    width: 55%;
  }
}
